@import url("../masterStyles/menu.css");
 @font-face {
  font-family: "peyda";
  src: url("../font/Peyda/Peyda-Bold.ttf");
}

$ColorBlue1: #0f1934;
$ColorBlue2: #16244b;
$ColorBlue3: #162b64;
$ColorWormy1: #a18581;
$ColorWormy2: #ba9992;
$ColorWormy3: #d7b1a6;
$ColorBrown: #b3a19d;
$ColorGray1: #cccacb;
$ColorGray2: #f5f5f5;
$BackGroundFormColors: #eeeeee;
$BorderFormColors: #f1f2f2;

* {
  list-style: none;
  text-decoration: none;
  font-family: "peyda";
}

body {
  margin: 0;
  padding: 0;
   background-image: url("../images/Contact-Us.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: 55% 66%;
}
.sidebar{
  opacity: 100%;
 }

.middle {
  .header-text {
    display: grid;
    justify-content: center;
      p {
      font-size: 1.3rem;
    }
    .underline {
      background-color: $ColorWormy1;
      display: block;
      width: 92px;
      height: 2px;
      position: relative;
      bottom: 20px;
    }
  }
  
  max-height: 160vh;
   min-width: 100vw;
  padding: 50% 0;
  display: grid;
  justify-content: center;
   form {
    max-width: 90vw;
    display: grid;
    justify-content: center;
    grid-gap: 1rem;
    grid-template-columns: 80vw;
    grid-template-rows: 20px 40px 20px 40px 20px 40px 20px ;
       input,
    textarea {
      border-radius: 10px;
      border: 2px solid $BorderFormColors;
      background-color: $BorderFormColors;
      resize: none;
     }
    .button {
      margin: 0 auto;
      width: 120px;
      height: 40px;
      background-color: $BackGroundFormColors;
      border: 1px solid $BorderFormColors;
      border-radius: 10px;
      &:hover {
        background-color: $ColorGray1;
        transition: 0.3s ease;
      }
    }
  }
}

footer {
  max-width: 100vw;
  padding: 20px 0;
  background-color: $ColorBlue1;
  .div-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    grid-gap: 20px;
    padding: 0 5%;
    .di-1{
      gap: 1rem;
     }

    i {
      font-size: 2rem;
      user-select: none;
      color: $ColorGray2;
      &:hover {
        color: $ColorBlue3;
      }
    }
    .text-footer {
       color: $ColorWormy1;
    }
    span {
      color: $ColorGray2;
    }
  }
 }
 .All-menu{
  .menu{
    font-size: 3rem;
  }        
  .sidebar{
      opacity: 100%;
      background-size: cover;
      ul{
       margin: 70px 10px 40px 10px;
      }
      li{
       font-size:1rem;
       position: relative;
       right: 20%;
       padding: 10px 5px ;
       }
   }

}   

@media screen and (min-width:501px) and (max-width:768px){


    .header-text{
          position: relative;
        top: -10%;
        left: -40%;
         p{
           font-size: 1.8rem;
         }
         }  
      
      .middle{
        margin:  0 50px;
        max-width: 50vw;
        padding: 30% 10%;
        position: relative;
        left: -20%;
        bottom: 100px;
                   form{
        grid-template-areas:
        'nameIn lastnameIn'
        'name lastname'
        'emailIn emailIn'
        'email email'
        'messageIn messageIn'
        'message message'
        'button button'
       ;    
      grid-template-columns: 30vh 30vh;
      grid-template-rows:20px 40px 20px 40px 20px 200px ;
      grid-gap: 10px;
       }
           .nameIn{
            grid-area: nameIn;
       }
        .name{
            grid-area: name;
        }
        .lastnameIn{
            grid-area: lastnameIn;
         }
       .lastname{
             grid-area: lastname;
        }
        .emailIn{
            grid-area:emailIn;
       }
        .email{
            grid-area: email;
      }
       .messageIn{
             grid-area: messageIn;
        }
        .message{
            grid-area: message;
        }

       .button{
        grid-area: button;
        }
        }
    //  form{
    //   width: 10vw;
    //   input , textarea{
    //     }
    //  }

    footer{
        .div-footer{
             display: flex;
             flex-direction: row;
             text-align: start;
             padding: 1% 1%  2% 1%;

             

         }
     }   
}
@media screen and (min-width:769px){
  body{
    // background-position: 50% 55%;
    background-image: url('../images/emailContact.jpg');
    background-repeat: no-repeat;
    background-size: 125% 130%;
    background-position: 50% 125%;
      }
  .All-menu{
    .menu{
      font-size: 3rem;
    }        
    .sidebar{
        opacity: 40%;
        background-size: cover;
        ul{
         margin: 70px 10px 40px 10px;
        }
        li{
         font-size:1.2rem;
         position: relative;
         right: 20%;
         padding: 10px 5px ;
         }
     }

 }   

    .header-text{
      margin-top: 3rem;

         padding-right: 400px;
          p{
          font-size: 1.8rem;
        }
        }  
     
     .middle{
      position: relative;
      padding: 20% 4%;
       left: -20%;
       bottom: 190px;
                  form{
                    min-width: 60vw;
                    grid-template-columns: 15rem 15rem;

       grid-template-areas:
       'nameIn lastnameIn'
       'name lastname'
       'emailIn emailIn'
       'email email'
       'messageIn messageIn'
       'message message'
       'button button'
      ;    
     grid-template-rows:20px 40px 20px 40px 20px 200px ;
     grid-gap: 10px;
      }
          .nameIn{
           grid-area: nameIn;
      }
       .name{
           grid-area: name;
       }
       .lastnameIn{
           grid-area: lastnameIn;
        }
      .lastname{
            grid-area: lastname;
       }
       .emailIn{
           grid-area:emailIn;
      }
       .email{
           grid-area: email;
     }
      .messageIn{
            grid-area: messageIn;
       }
       .message{
           grid-area: message;
       }

      .button{
       grid-area: button;
       }
       }


   footer{
       .div-footer{
            display: flex;
           flex-direction: row;
           padding: 10% 5%;
           text-align: start;
        }
    }   



    footer{
        .div-footer{
             display: flex;
            flex-direction: row;
            justify-content: space-around;
             text-align: start;
             padding: 1% 1%  2% 1%;

          }
         .stone{
            height: 80px;
            width: 2px;
            background-color: #f5f5f5;
        
         }
     }   


}