@import url("../masterStyles/menu.css");
@import url("../masterStyles/footer.css");
@font-face {
  font-family: "peyda";
  src: url("../font/Peyda/Peyda-Medium.ttf");
}
body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

section {
  padding-top: 2rem;
  font-family: "peyda";
  width: 100vw;
  height: 130vh;
  background-image: url("../images/About Us (2).jpg");
  background-repeat: no-repeat;
  background-position: center 20%;
  background-size: 100% 100%;
  color: #f5f5f5;
  font-size: 1rem;
}
section .container {
  width: 70vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  left: 100px;
  top: 10px;
}
section .container div {
  padding: 10px 0;
}
section .header-text {
  display: flex;
  flex-direction: column;
}
section .header-text .div-1 {
  font-size: 2rem;
}
section .header-text .underline {
  width: 120px;
  height: 5px;
  background-color: #a18581;
}

@media screen and (max-width: 500px) {
  .All-menu {
    right: 5px;
    z-index: 10;
  }
  .All-menu .menu {
    font-size: 1.8rem;
  }
  .All-menu .sidebar {
    opacity: 100%;
  }
  .All-menu .sidebar ul {
    position: relative;
    right: 7%;
  }
  .All-menu .sidebar li {
    padding: 10px 5px;
    font-size: 15px;
  }
  section {
    width: 100%;
    height: 120vh;
    background-position: center;
    background-size: 200% 100%;
    color: #f5f5f5;
    font-size: 0.8rem;
  }
  section .container {
    margin: 0;
    padding: 0;
    width: 100vw;
    display: grid;
    grid-template-columns: 300px;
    justify-content: center;
    position: static;
  }
  section .header-text {
    width: 100%;
    display: grid;
    grid-template-columns: 100px;
    justify-content: center;
    align-items: center;
  }
  section .header-text .div-1 {
    font-size: 1.5rem;
    font-weight: 900;
  }
  section .header-text .underline {
    position: relative;
    top: -1rem;
    width: 90px;
    height: 3px;
  }
  footer {
    padding: 20px 0;
    flex-direction: column;
  }
  footer .div-footer {
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    grid-gap: 1px;
  }
  footer .div-footer i {
    font-size: 2rem;
    user-select: none;
    color: #f5f5f5;
  }
  footer .div-footer i:hover {
    color: #162b64;
  }
  footer .div-footer .text-footer {
    font-size: 1.3rem;
  }
  footer .stone {
    display: none;
  }
}
@media screen and (min-width: 501px) and (max-width: 880px) {
  footer {
    height: 100%;
    font-family: "peyda";
    background-color: #0f1934;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  footer .div-footer {
    height: 40vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  footer .div-footer i {
    font-size: 1.8rem;
  }
  footer .div-footer .text-footer {
    font-size: 1rem;
  }
  footer span {
    font-size: 0.9rem;
  }
  footer .stone {
    display: none;
  }
}
@media screen and (max-height: 600px) {
  section {
    width: 100%;
    height: 150vh;
    background-position: center;
    background-size: 100% 100%;
  }
  section .container {
    padding: 0 0 10rem 0;
    width: 100vw;
    display: grid;
    grid-template-columns: 500px;
    justify-content: center;
    position: static;
  }
  section .header-text {
    width: 100%;
    display: grid;
    grid-template-columns: 100px;
    justify-content: center;
    align-items: center;
  }
  section .header-text .div-1 {
    font-size: 1.5rem;
    font-weight: 900;
  }
  section .header-text .underline {
    position: relative;
    top: -1rem;
    width: 90px;
    height: 3px;
  }
}

/*# sourceMappingURL=AboutUs.css.map */
